# 🧩 가상환경
venv/

# 🧠 캐시 및 임시 파일
__pycache__/
*.pyc

# 🔑 환경 변수 파일 (절대 노출 금지)
.env
docker-compose.yml

# 💾 로컬 SQLite 데이터베이스
app.db

# 🧰 IDE / OS 관련 파일
.vscode/
.idea/
.DS_Store

# 업로드 이미지 폴더들 (Git에 올리지 않음)
app/static/group_images/
app/static/profile/
app/static/post_images/
uploads/