# 🧩 가상환경
venv/

# 🧠 캐시 및 임시 파일
__pycache__/
*.pyc

# 🔑 환경 변수 파일 (절대 노출 금지)
.env
docker-compose.yml

# 💾 로컬 SQLite 데이터베이스
app.db

# 🧰 IDE / OS 관련 파일
.vscode/
.idea/
.DS_Store

# 잠시 추가
app/static/group_images/

# 잠시 추가
app/static/profile/

app/statoc/post_images/

uploads/