name: Docker Build, Push & Deploy

on:
  push:
    branches:
      - main
    paths-ignore:
      - "requirements.txt"

permissions:
  contents: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64
          tags: hwanghotae/moyo-fastapi:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Deploy to AWS EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            docker pull hwanghotae/moyo-fastapi:latest

            docker stop moyo-back || true
            docker rm moyo-back || true

            docker run -d \
              --name moyo-back \
              --env-file /srv/moyo-back/.env \
              -p 8000:8000 \
              hwanghotae/moyo-fastapi:latest

            # 4) 오래된 이미지 정리 (선택)
            docker image prune -af
